{%extends 'index.html'%}
{%block title%}Reset{%endblock%}
{%block content%}
<div class="signup-section">
    <div class="signup-close"><i class="fa fa-close"></i></div>
    <div class="signup-text">
        <div class="container">
            <div class="signup-title">
                <h2>Reset</h2>
                <p>Change Your Password</p>
            </div>
            <form method="POST" class="signup-form">
                {{form.hidden_tag()}}
                <div class="sf-input-list">
                    {%if form.password.errors%}
                    {{form.password(class='input-value is-invalid',placeholder='Password')}}

                    <div class="invalid-feedback">
                        {%for error in form.password.errors%}
                        <span>{{error}}</span>
                    </div>
                    {%endfor%}
                    {%else%}
                    {{form.password(class='input-value',placeholder='Password')}}
                    {%endif%}
                    {%if form.confirm_password.errors%}
                    {{form.confirm_password(class='input-value is-invalid',placeholder='Confirm Password')}}

                    <div class="invalid-feedback">
                        {%for error in form.confirm_password.errors%}
                        <span>{{error}}</span>
                    </div>
                    {%endfor%}
                    {%else%}
                    {{form.confirm_password(class='input-value',placeholder='Confirm Password')}}
                    {%endif%}
                </div>
                {{form.submit()}}
            </form>
        </div>
    </div>
</div>
{%endblock%}