{%extends 'index.html'%}
{%block title%}404{%endblock%}
{%block content%}
    <!-- 404 Section Begin -->
    <section class="section-404">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-404">
                        <h1>404</h1>
                        <h3>Opps! This page Could Not Be Found!</h3>
                        <p>Sorry bit the page you are looking for does not exist, have been removed or name changed</p>
<a href="{{url_for('routes.home')}}" class="primary-btn">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 404 Section End -->
{%endblock%}