{%extends 'index.html'%}
{%block title%}Category{%endblock%}
{%block content%}
<div class="signup-section">
    <div class="signup-text">
        <div class="container">
            <div class="signup-title">
                <h2>Category</h2>
            </div>
            <form method="POST" class="signup-form">
                {{form.hidden_tag()}}
                <div class="sf-input-list">
                    {%if form.name.errors%}
                    {{form.name(class='input-value is-invalid',placeholder='Name')}}

                    <div class="invalid-feedback">
                        {%for error in form.name.errors%}
                        <span>{{error}}</span>
                    </div>
                    {%endfor%}
                    {%else%}
                    {{form.name(class='input-value',placeholder='Name')}}
                    {%endif%}

                {{form.submit()}}
            </form>
        </div>
    </div>
</div>
{%endblock%}